.footer {
  position: absolute;
  display: flex;
  width: 800px;
  height: 100px;
  bottom: 0px;
  z-index: 2;
}

.text-panel {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100px;
  height: 90px;
  border-radius: 10px;
  margin: 5px 4px 5px 4px;
}

.text-panel > p.label {
  text-align: center;
  color: yellow;
  font-size: 16px;
}

.text-panel > p.value {
  text-align: center;
  color: white;
  font-size: 13px;
}

.button {
  cursor: pointer;
  background-color: yellow;
  width: 89px;
  height: 80px;
  border-radius: 10px;
  margin: 10px 4px 10px 4px;
}

.button > p.label {
  text-align: center;
  color: orange;
  font-size: 24px;
}

.button-bg {
  position: relative;
  cursor: pointer;
  width: 70px;
  height: 70px;
  margin: 25px 4px 5px 4px;
}

.button-bg.selected {
  margin: 5px 4px 25px 4px;
  filter: drop-shadow(0px 0px 3px white);
}

.button-bg > p.label {
  position: absolute;
  color: black;
  font-size: 10px;
  margin: 0px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}